@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;

}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color:rgb(7, 34, 34);
}

/* Headers */
h1, h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(3, 19, 19);

}

a:hover {
text-decoration:underline;
}

a {
    text-decoration: none;
    color: inherit;
    
}

/* navigation menu links */
#menu li{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    font-size: 115%;
    float:right;
    margin-right: 5px;
    padding: 4px;
    list-style-type: none;
}

/* set a line hight to make the header elements align */
#logo, #menu {
line-height: 75px;
}

#header {
    height: 75px;
    background-color: darkslategray;
    width:100%;
    
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 5px;
    padding: 4px;
}

#hero {
    height:600px;
    width: 100%;
    background-color: black;
}

#float-right {
float:right;
width: 40%;
}

#float-left {
float:left;
width: 60%;
}