@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;

}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: rgb(7, 34, 34);
}

/* Headers */
h1,
h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(3, 19, 19);

}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;

}

/* navigation menu links */
#menu li {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    font-size: 115%;
    float: right;
    margin-right: 20px;
    padding: 4px;
    list-style-type: none;
}

/* set a line hight to make the header elements align */
#logo,
#menu {
    line-height: 75px;
}

#header {
    height: 75px;
    background-color: white;
    width: 100%;

}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
    padding: 4px;
}

/* Container for hero image and text */
#hero {
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-image: url("../images/splash_34.jpg");
    background-repeat: no-repeat;
    /* splash covers the entire box nomatter the resize */
    background-size: cover;
    background-color:darkslategray;

}

/* transparant box with join us text over the splash_32.jpg */
#cover-box {
    background-color:rgba(0, 0, 0, 0.3);
    padding: 2%;
    float: left;
    margin-top: 30%;
    margin-left: 4%;
    position:relative;
    margin-block-end: 4%;
    
    
}
#cover-box > h2 {
    color: white;
    font-size: 140%;
}

#cover-box > p {
    color: orange;
    font-size: 120%;
}

#about {
    padding-top: 30px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#about>h2 {
    font-size: 200%;
}

#about #img1 {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

#about #img2 {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}