@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;

}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color:rgb(7, 34, 34);
}

/* Headers */
h1, h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(3, 19, 19);

}

a:hover {
text-decoration:underline;
}

a {
    text-decoration: none;
    color: inherit;
    
}

/* navigation menu links */
#menu li{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    font-size: 115%;
    float:right;
    margin-right: 20px;
    padding: 4px;
    list-style-type: none;
}

/* set a line hight to make the header elements align */
#logo, #menu {
line-height: 75px;
}

#header {
    height: 75px;
    background-color: white;
    width:100%;
    
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
    padding: 4px;
}

/* Container for hero image and text */
#hero {
    height:800px;
    width:100%;
    background-color: rgb(59, 23, 58);
    overflow: hidden;
    text-align: center;
    
}

#float-right {
float:left;
width: 30%;
text-align: center;
margin-top: 30%;
font-size: large;
color: orange;
}

#float-right > h2 {
    color: white;
}

#float-left img{
float:left;
width: 60%;

}
